packages: [
  ".bin"
  "angularjs"
  "atom-beautify"
  "atom-jinja2"
  "atom-typescript"
  "autocomplete-angular-material"
  "autocomplete-cmake"
  "autocomplete-python"
  "clang-format"
  "color-picker"
  "hidpi"
  "language-ansible"
  "language-cmake"
  "language-gherkin"
  "language-pug"
  "language-qml"
  "linter"
  "linter-ansible-linting"
  "linter-eslint"
  "linter-flake8"
  "linter-pep8"
  "linter-pug-lint"
  "merge-conflicts"
  "minimap"
  "package-sync"
  "pigments"
  "python-iresolve"
  "python-isort"
  "python-tools"
  "sort-lines"
  "symbol-gen"
  "symbols-tree-view"
  "terminal-panel"
  "travis-ci-status"
]
